---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css"
import Badge from "../components/Badge.astro"
---
<Layout title="Jordi's Portfolio">
	<main>
		<h1>Hola, sóc en Jordi <Badge>Disponible per treballar</Badge></h1>
		<h2>Desenvolupador d'aplicacions web</h2>
	</main>
</Layout>
