---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";
import TitleSection from "../components/TitleSection.astro";


import BriefcaseIcon from "../icons/Briefcase.astro";
import Hello from "../components/Hello.astro";
---

<Layout
	title="Jordi's Portfolio | AI Programmer & Web Developer"
	description=""
>
	<main class="px-4">
		<!-- Hello, I am Jordi! -->
		<Section class="py-16 md:py-36">
			<Hello>
				<slot />
			</Hello>
		</Section>

		<div class="space-y-24">

			<Section id="experience">
				<TitleSection>
					<BriefcaseIcon class="size-8" />
					Experiència laboral	
				</TitleSection>
				<Experience />
			</Section>
		
		</div>
	</main>
</Layout>
