---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Juny 2023",
        title: "Bookriver",
        description:
            "Desenvolupament del front i back-end de la plataforma per a compartir ressenyes sobre llibres.",
        link: "https://jbookriver.apiabalit2.com/",
    },
    {
        date: "Abril 2023",
        title: "Scribl",
        description:
            "Desenvolupament del front i back-end del projecte Scribl, una plataforma per poder tenir les teves notes personals accessibles en tot moment.",
        link: "#",

    },
    {
        date: "April 2022",
        title: "E-Commerce UI code in Tailwind CSS",
        description:
            "Get started with dozens of web components and interactive elements built on top of Tailwind CSS.",
    },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
