---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Juny 2023",
        title: "Abalit Technologies",
        description:
            "Desenvolupament del front i back-end de diversos projectes principalment en PHP i Laravel.",
        link: "https://jbookriver.apiabalit2.com/",
    }
];
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map((experience) => (
            <li>
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
